/*barra de colores a para ocupar en el prollecto*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFCC00;
    --secundario: #0066ff;
    --gris: #757575;
    }
    /*GLOBAL*/
html{
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para Box Model*/
    scroll-snap-type: y mandatory;
}
/*SCROLL-SNAP*/
.servicio,
.navegacion_principal,
.formulario{
    scroll-snap-align: center;/*centra cuando haces un scroll*/
    scroll-snap-stop: always;/*hace que se detenga cuando realizas un scrol*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-size: 16px; /*1 rem = 10px*/
    font-family: 'Libre Baskerville', serif;
    /*para el degradado del fondo*/
    background-image: linear-gradient(to top, var(--secundario) 0%, var(--blanco)100%);
}
.contenedor{
    max-width: 120rem;
    /* son los margenes 
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    se puede sustituir nor una sola linea
    margin: 0 auto 0 auto;
    ya que se repinen los caracteres 0 auto se puede
    reducir a*/
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;/*para redondeo de esquinas*/
    width: 80%;
    text-align: center;
    border: none;
}
@media (min-width: 768px){
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;/*coloca una manita en los botones*/
}
.sombra{
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75); 
    background-color: var(--blanco);
    padding: 2rem;/*para separaciones de margenes*/
    border-radius: 1rem; 
}
/*TIPOGRAFIA*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
/*TITULOS*/
/*cuando se coloca . y el nombre son las clases (class) 
clase con etiqueta .titulo span*/
.titulo span{
    font-size: 2rem;
 
}
/*UTILIDADES*/
.w_sm_100{
    width: 100%;
}
@media (min-width: 768px){
    .w_sm_100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear_derecha{
justify-content: flex-end;
}
/*NAVEGACION PRINCIPAL*/
.nav_bg{
    background-color: var(--secundario);
}
/*para cambiar las caracteristricas del parafo 
de inicio general*/
.navegacion_principal{
   /*para realizar la separacion se ocupan los dos comandos 
   display y justif*/
   display: flex;
   flex-direction: column;
}
/*@media (min-width:) modifica las caracteristicas para tamaños de pantalla
480 para telefono, 768 para tablet,1140 para tablets o escritorio y 1400 para pantallas grandes*/
@media (min-width: 768px) {
    .navegacion_principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
/*para cambiar las caracteristricas del parafo 
de inicio espefifica*/
.navegacion_principal a{
    display: block;
    text-align: center;
   color: var(--blanco);
   text-decoration: none;
   font-size: 2rem;
   font-weight: 700;
   padding: 1rem;
}
/*hace que coambie de color los iconos de la barra de tareas*/
.navegacion_principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/*HERRO*/
.herro{
    background-image: url(..//img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    position: relative;
    margin-bottom: 2rem;/*margen de separacion*/
}
.contenido-herro{
    position: absolute;
    background-color: rgba(0,0,0, 0.7);/*anterio*/
    background-color: rgb( 0 0 0 / 70%);/*alginos navegadores no soportan este comando*/ 
    width: 100%;
    height: 100%;
    /*para alinear vertical y horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-herro h2,
.contenido-herro p{
    color: var(--blanco);
}
.contenedor .ubica{
    display: flex;
    align-items: flex-end;
}
/*servicios*/

@media(min-width: 768px){
    .servicios{
        display: grid;
        /*1fr divide en fracciones dependiendo cuantas colimnas necesites
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 33.3% 33.3% 33.3%;*/
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*CONTACTO*/
.formulario{
background-color: var(--gris);
width: min(60rem, 100%);/*utiliza el valor mas pequeño de la pantalla*/
margin: 0 auto;/*centra los bloques, formularios*/
padding: 2rem;
border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;/*cebtra el texto*/
    font-size: 1.8rem;/*tamaño de la letra*/
    text-transform: uppercase;/*transforma a mayusculas*/
    font-weight: 700;/*para que este en negritas*/
    margin-bottom: 2rem;/*crea separación en el texto*/
    color: var(--primario);/*cambia de color*/
}
@media(min-width: 768px){
    .contenedor_campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}
.campo{
margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 20rem;
}
.imput_tex{
    width: 100%;
    border: none;
    padding: 1.5rem;/*tamaño del cuadro de texto*/
    border-radius: .5rem;
}
/*FOOTER*/
.footer{
    text-align: center; 
}